@mixin button-style($borderColor, $bgColor, $textColor, $fillColor) {
  border: 1px solid $borderColor;
  background: $bgColor;
  color: $textColor;

  .c-btn__icon {
    fill: $fillColor;
  }
}

@mixin button-dimension($width: 184px, $height: 55px) {
  width: $width;
  height: $height;
}
