.c-card {
  opacity: 0;
  transform: translateY(30px);

  &.show {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.6s ease, transform 0.6s ease;
  }

  @media (min-width: $breakpoint-tablet) {
    padding: 0 15px;
    margin: 15px 0;
  }

  &__container {
    @extend .o-panel;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 30px;
    box-shadow: 0px 10px 20px $color-sixth;
  }

  &__title {
    align-self: flex-start;
    margin-bottom: 15px;
    color: $color-primary;
  }

  &__figure {
    display: block;
    max-width: 180px;
  }

  &__wrap {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
  }

  &__price {
    font-size: 20px;
    color: $color-fourth;
  }

  &__warnings {
    display: flex;
  }

  &__warnings__item {
    width: 34px;
    height: 22px;
    fill: $color-fourth;

    @media (min-width: $breakpoint-tablet) {
      margin-left: -2px;
      width: 36px;
      height: 24px;
    }
  }

  &__button {
    @include button-style(
      $button-border-primary-color,
      $button-bg-primary-color,
      $button-text-primary-color,
      $button-icon-primary-color
    );

    @media (min-width: $breakpoint-tablet) {
      @include button-style(
        $button-border-default-color,
        $card-bg-default-color,
        $button-text-default-color,
        $button-icon-default-color
      );

      &:hover {
        @include button-style(
          $button-border-primary-color,
          $button-bg-primary-color,
          $button-text-primary-color,
          $button-icon-primary-color
        );
      }
    }
  }
}
