.c-product {
  padding-bottom: 50px;
  opacity: 0;

  @media (min-width: $breakpoint-tablet) {
    padding-bottom: 0px;
  }

  &.show {
    opacity: 1;
    transition: opacity 0.35s ease;
  }

  &__container {
    padding: 0 30px;
  }

  &__title {
    font-size: 45px;
    margin-bottom: 15px;

    @media (min-width: $breakpoint-tablet) {
      font-size: 50px;
      line-height: 1.2em;
    }
  }

  &__price {
    font-size: 24px;
    color: $color-seventh;
    margin-bottom: 20px;
  }

  &__figure {
    display: block;
    margin-bottom: 25px;
  }

  &__image {
    margin: auto;

    @media (min-width: $breakpoint-tablet) {
      margin: initial;
    }
  }

  &__warnings {
    &__item {
      display: flex;
      align-items: center;
      margin-bottom: 20px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &__icon {
      width: 60px;
      height: 26px;
      fill: $color-seventh;
    }

    &__text {
      color: $color-seventh;
      margin-left: 5px;
    }
  }
}
