.showcase {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
  border-radius: 5px;
  color: #777;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;

  .seat:hover {
    cursor: default;
    transform: scale(1);
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
  }

  &__description {
    margin-left: 2px;
  }
}
