<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>GreenThumb</title>
    <meta name="description" content="GreenThumb - Find your next green friend">
  </head>
  <body>
    <main class="o-wrapper">
      <div class="o-stage" data-js-stage>
        {{> components/intro }}

        {{> components/sun }}

        {{> components/water }}

        {{> components/pets }}

        {{> components/catalog }}

        {{> components/product }}
      </div>
    </main>
  </body>
</html>
