.loader {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 0;

  &__core {
    width: 60px;
    height: 60px;
    background: transparent;
    border-radius: 50%;
    border: 5px solid rgba(0, 0, 0, 0.1);
    border-left-color: #1a815a;
    animation: spin 1s linear infinite;
  }
}
