<section class="o-stage__step o-wall" data-stage-step="4" data-step-label="Catalog">
  <div class="o-catalog">
    <div class="o-container o-catalog__container">
      <div class="o-catalog__logo o-logo--wrap o-wall__logo">
        {{> includes/logo url="images/logo-greenthumb.svg" alt="greenthumb logo" classname="o-wall__logo__image"}}
      </div>
      <figure class="o-catalog__figure o-image--pick">
        <img src="images/pick.png" alt="A hand picking a plant" class="o-image--pick">
      </figure>

      <h2 class="o-catalog__title o-title o-title--primary o-title--highlight o-color--primary">
        Our picks <span class="o-breakline--mobile-down"></span>for you
      </h2>


    </div>
    <div class="o-catalog__grid">
      <div class="o-catalog__grid__container" ref="catalog-list" data-js-slider data-js-slider-width-unit="320"
        data-js-slider-space-between="20">
        {{> components/loader }}
      </div>
    </div>
  </div>
</section>
