<form class="c-form show" data-js-form>

  <div class="c-form__request">

    <h3 class="c-form__title o-title o-title--highlight c-form--space-left">Nice pick!</h3>
    <p class="c-form__description c-form--space-left">
      Tell us your name and <span class="o-breakline--mobile-down"></span>e-mail<span
        class="o-breakline--tablet-up"></span>
      and we will get in touch <span class="o-breakline--mobile-down o-breakline--tablet-up"></span>
      regarding your order ;)
    </p>

    <div class="c-form__field">
      <label for="" class="c-form__label c-form--space-left">Name</label>
      <input type="text" name="name" class="c-form__input" placeholder="Crazy Plant Person">
    </div>

    <div class="c-form__field">
      <label for="" class="c-form__label c-form--space-left">E-mail</label>
      <input type="text" name="email" class="c-form__input" placeholder="plantperson@email.com">
    </div>

    <button type="submit" class="c-form__submit c-btn c-btn--primary c-btn--large c-btn--full">
      send
    </button>
  </div>
  <div class="c-form__message">
    <h3 class="c-form__title o-title o-title--highlight">Thank you!</h3>

    <p class="c-form__description">
      You will hear from us soon. Please
      check your e-mail!
    </p>

    <div class="c-form__figure">
      <img data-src="images/envelop.png" alt="envelope full of plants" class="c-form__image">
    </div>
  </div>
</form>
