<section class="o-stage__step c-intro" data-stage-step="0" data-step-label="Home">
  <div class="o-container">
    <div class="c-intro__call-to-action">
      <div class="c-intro__logo">
        {{> includes/logo url="images/logo-greenthumb.svg" alt="greenthumb logo"}}
      </div>

      <h1 class="c-intro__title o-title o-title--highlight o-color--primary">
        Find your<span class="o-breakline--tablet-up"> next <span class="o-breakline--mobile-down">green<span
              class="o-breakline--tablet-up"> friend
      </h1>

      <button class="c-btn c-btn--primary c-btn--large c-btn--has-icon t-text--semi-bold c-intro__button"
        data-stage-command="next">
        <span class="c-btn__icon">
          <svg class="o-icon o-icon--1x">
            <use xlink:href="images/icons.svg#svg-arrow-right" /></svg>
        </span>
        <span class="c-btn__text">start quizz</span>
      </button>
    </div>
  </div>
</section>
