<div class="movie" data-component-name="movie">
  <label class="movie__label">Pick a movie:</label>
  <select class="movie__select" id="movie">
    <option value="10">Avengers: Endgame ($10)</option>
    <option value="12">Joker ($12)</option>
    <option value="8">Toy Story 4 ($8)</option>
    <option value="9">The Lion King ($9)</option>
  </select>
</div>
