<section class="o-stage__step o-wall" data-stage-step="5" data-step-label="Product">
  <div class="o-product">
    <div class="o-container o-product__container">
      <div class="o-product__logo o-logo--wrap o-wall__logo">
        {{> includes/logo url="images/logo-greenthumb.svg" alt="greenthumb logo" classname="o-wall__logo__image"}}
      </div>

      <div class="o-product__grid">
        <div class="o-product__grid__item" data-js-product>
          {{> components/loader }}
        </div>
        <div class="o-product__grid__item">
          {{> components/form }}
        </div>
      </div>
    </div>
  </div>
</section>
