<ul class="showcase">
  <li class="showcase__item">
    <div class="seat"></div>
    <small class="showcase__description">N/A</small>
  </li>
  <li class="showcase__item">
    <div class="seat seat--selected"></div>
    <small class="showcase__description">Selected</small>
  </li>
  <li class="showcase__item">
    <div class="seat seat--occupied"></div>
    <small class="showcase__description">Occupied</small>
  </li>
</ul>
