<p class="warning" data-component-name="warning">
  You have seleted
  <span id="count" class="warning__price">0</span>
  seats for a price of $
  <span id="total" class="warning__price">0</span>
</p>
