@import 'generic/reset';

@import 'settings/fonts';
@import 'settings/variables';

@import 'tools/placeholders';
@import 'tools/mixins';
@import 'tools/mixins.options';
@import 'tools/mixins.buttons';
@import 'tools/animations';

@import 'base/general';
@import 'base/images';

@import 'objects/colors';
@import 'objects/images';
@import 'objects/titles';
@import 'objects/breaklines';
@import 'objects/logo';
@import 'objects/icons';
@import 'objects/loaders';
@import 'objects/containers';
@import 'objects/wrappers';
@import 'objects/stage';
@import 'objects/panels';
@import 'objects/survey';
@import 'objects/catalog';
@import 'objects/wall';
@import 'objects/product';

@import 'components/buttons';
@import 'components/options';
@import 'components/cards';
@import 'components/intro';
@import 'components/product';
@import 'components/form';

@import 'trumps/texts';
@import 'trumps/validate';
@import 'trumps/display';
